body {
  background-color: lightgray;
  font-family: sans-serif;
  text-align: center;
}

header {
  text-align: center;
  font-size: 2em;
  background-color: white;
  padding: 0.2em;
  border: 0.1em solid black;
  border-radius: 0.4em;
}

.roll-control-panel {
  display: inline-block;
  background-color: whitesmoke;
  border: 0.05rem solid black;
  border-radius: 0.4rem;
  margin: 0.2rem;
  padding: 0.4rem;
}

.roll-info {
  font-size: 1.6rem;
  text-align: center;
  margin: 0.4rem;
}

.dice-box {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.status-indicator {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.8rem 0.2rem;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  background-color: white;
  border: 0.1em solid black;
  border-radius: 0.6rem;
  margin: 0.4rem;
}

.select-button {
  background-color: darkslategray;
  color: white;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.4rem;
  margin: 0.7rem 0.2rem;
}

.roll-button {
  width: 90%;
  background-color: green;
  color: white;
  border: none;
  border-radius: 0.8rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.4rem;
 }