body {
  background-color: lightgray;
  font-family: sans-serif;
}

header {
  text-align: center;
  font-size: 2em;
  background-color: white;
  padding: 0.2em;
  border: 0.1em solid black;
  border-radius: 0.4em;
}

.dice-box {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.status-indicator {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.8rem 0.2rem;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  background-color: white;
  border: 0.1em solid black;
  border-radius: 0.6rem;
  margin: 0.4rem;
}

.select-button {
  font-size: 1.1rem;
  margin: 0.7rem 0.2rem;
}